/* TODO: Add sitewide styles */
/* create some css var for colors */
:root {
  --color-primary: #ff5a5f;
  --color-secondary: #00a699;
  --color-accent: #fc642d;
  --color-background: #f7f7f7;
  --color-text: #333333;
}